<!DOCTYPE HTML>
<html lang="en_us">
<head></head>

<body>
    <h1> Here is all the users</h1>


    <%= for(var i = 0; i < users.length; i++){%>
    <span><%= users[i].username %></span>
    <br/>
    <span><%= users[i].password %></span>
    <br/>
    }
</body>



</html>